<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | Tvittor</title>
    <link rel="stylesheet" href="../stylesheets/profile.css">
    
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="back">
        <div id="top">
            <div id="photo"></div>
        </div>
        <div id="nav">
            <div class="box">
                <h6>TWEETS</h6>
                <h2>1,758</h2>
                <div id="line"></div>
            </div>
            
            <div class="box">
                <h6>PHOTOS/VIDEOS</h6>
                <h2>29</h2>
            </div>
            
            <div class="box">
                <h6>FOLLOWING</h6>
                <H2>234</H2>
            </div>
            
            <div class="box">
                <H6>FAVORITES</H6>
                <H2>23</H2>
            </div>
            
            <div class="box">
                <H6>FOLLOWERS</H6>
                <H2>30M</H2>
            </div>
            <div class="box">
                <h3>MORE <i class="ri-arrow-down-s-fill"></i></h3>
            </div>
            <div class="box">
                <a href="/">Logout</a>
            </div>
        </div>
        <div id="down">
            <div id="left">
                <h2><%=data%> <img src="https://www.pngitem.com/pimgs/m/240-2408141_blue-tick-in-circle-hd-png-download.png" alt="twiiter"> </h2>
                <h5>@tvittor</h5>
                <h5>Your official source for news,<br> updates, and tips from Tvittor, inc.</h5>
                <p><i class="ri-map-pin-line"></i> Bhopal, MP</p>
                <p><i class="ri-links-fill"></i> <a href="#">tvittor.blog.post</a></p>
                <p><i class="ri-time-line"></i> Joined March 2021</p>
            </div>
            <div id="right">
                <h4>Tvitts</h4>                    
                <h4>Tvitts and Replies</h4>
                <hr>
                <div id="rdown">
                    <h3> <img src="https://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c53e.png" alt=""> Tvittor <span>@tvittor. 1h</span></h3>
                    <p>New web profiles are now available for everyone. <br> Update yours today with a pinned Tweet <br> or a new header image. <br>

                        <a href="#">blog.twitter.com/2014/your-new-...</a></p>
                </div>
            </div>

        </div>

    </div>
    
</body>
</html>